# eclipse specific git ignore
.project
.cproject
.metadata
bin/**
tmp/**
tmp/**/*
Debug/**
Release/**
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

#c++ ignores

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Config file
config.ini
